html,
body {
  min-width: 1122px;
  min-height: 1080px;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ptsans;
  src: url(../fonts/PTN57F.ttf);
}

@font-face {
  font-family: ptsansbold;
  src: url(../fonts/PTN77F.ttf);
}

body {
  font-family: ptsans, sans-serif;
  line-height: 18px;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  background: #000 url(../img/tint.png) 1200px 1080px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: ptsansbold, serif;
  line-height: 42px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 24px;
}

h2 {
  font-family: ptsansbold, serif;
  line-height: 27px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

label {
  display: block;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
  float: left;
  width: 780px;
}

.header-logo {
  float: left;
  margin-top: 23px;
  margin-left: 20px;
  margin-right: 40px;
}

.main-navigation li {
  display: inline;
  margin-right: 40px;
}

.main-navigation ul {
  margin-top: 28px;
}

.main-header a:link{
  color: #fff;
  text-decoration: none;
}

.main-header a:visited{
  color: #fff;
  text-decoration: none;
}

.main-header a:hover{
  color: #fff;
  text-decoration: none;
}

.main-header a:active{
  color: #fff;
  text-decoration: none;
}

.user-block {
  float: right;
  width: 140px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.breadcrumbs li {
  display: inline;
  margin-right: 15px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
  color: #fff
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 380px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #000;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;;
  width: 180px;
  text-align: center;
}

/*shop.html*/

.filter {
  float: left;
  width: 220px;
  min-height: 680px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.items {
  float: right;
  width: 700px;
  min-height: 592px;
  margin-bottom: 0px;
  padding: 0px;
}

.item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: #fff;
  vertical-align: top;
}

.item:nth-child(3n) {
  margin-right: 0px;
}

.item:nth-child(n+3) {
  margin-bottom: 0px;
}

.item-price {
  display: inline-block;
}

.navigator {
  float: left;
  margin-top: 45px;
}

.navigator li{
  display: inline;
}

.item-cta {
  margin: 16px;
}

.item-name {
  display: block;
  margin: 16px;
}

/*item.html*/

.album {
  float: left;
  width: 460px;
}

.album img {
  float: left;
}

.album img:nth-child(n+2) {
  margin-top: 20px;
  margin-right: 20px;
}

.album img:last-child {
  margin-right: 0px;
}

.item-content {
  float: right;
  width: 400px;
}
